name: Build and Upload

on:
  workflow_dispatch:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      
      - name: Setup JAVA 17
        uses: actions/setup-java@v3.6.0
        with:
          java-version: 17
          distribution: 'adopt'

      # The corresponding dependencies are stored in the cache to speed up the test.
      - name: Cache Gradle Packages
        uses: actions/cache@v3.0.11
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Cache Gradle Wrapper
        uses: actions/cache@v3.0.11
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle-wrapper-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Plugin
        run: ./gradlew build

      # An artifact is generated in a compressed file according to each JDK build version.
      - name: Upload Plugin
        uses: actions/upload-artifact@v3.1.1
        with:
          name: Duels
          path: out/*.jar